extends layouts/General-layout.pug 
block content
  style.
    .inputs {
    font-size: 1rem;
    }
    .ad {
    font-size: 12px;
    font-weight: 600;
    }
  body.bg-success 
    section.vh-100
      .container.py-5.h-100
        form.row.d-flex.justify-content-center.align-items-center(action="/user/HomePage" method="POST")
        
          .col-12
            .card.shadow-2-strong(style='border-radius: 1rem')
              .card-body.p-5.text-center
                .form-outline.mb-0
                  div.pb-1.FontStuff.pew-5.text-success.mb-3(class=`${successColor}`) #{Success}
                  div
                    label.form-label.mb-2.FontStuff
                      i.fa-brands.fa-slack
                      |  Your Carbon
                      |                       Amount:
                    label.form-label.mb-2.FontStuff (#{userCarbonAmount}C)
                    input.form-control.a.form-control-lg.inputs.w-100.convertCoin(type='text' style='float: left' name="exchange" placeholder='Excange Your Carbon')
                    button#btn.myButton.btn.btn-success.btn-lg.btn-block.w-100.justify-content-between.mt-3.exchangeButton(type='submit' for="sea" name="exchangeButton")
                      | Exchange
                  div.my-4
                    .tryAmount.pt-3
                      label.form-label.mb-2.FontStuff Your RC Amount:  
                      label.form-label.mb-2.FontStuff
                        |  #{userRCamount}
                        i.fa-brands.fa-slack
                        | 
                  div
                    input.form-control.a.form-control-lg.inputs.w-2500.transferSHA(type='text' style='float: left;width:65%' name="transferSha256" value="09c325b649569cd807051111364f693f973867318ce3eb878e5935bfae009b00" placeholder='Please Enter the SHA-256 Address of the Person You Want to Send ')
                    input.form-control.a.form-control-lg.inputs.w-2500.transferCoin(type='text' style='float: right;width:25%' name="transferAmount" placeholder='Please Enter the Amount ')
                    button#btn.myButton.btn.btn-success.btn-lg.btn-block.w-100.justify-content-between.mt-3.transferButton(type='submit' for="sea" name="transferButton")
                      | Transfer
                    
        
        form.row.d-flex.justify-content-center.align-items-center.h-100( action="/user/HomePage" method="POST")
          each item in items
            .col-12.col-sm-6.col-md-6.col-lg-6.col-xl-3.mt-3
              .card.shadow-2-strong(style='border-radius: 1rem')
                .card-body.p-5.text-center
                  img.img-fluid(src=`/img/${item.itemImg}` alt='...')
                  .form-outline.mb-4
                    label.form-label.mb-2.FontStuff #{item.name}    
                    label.form-label.mb-2.FontStuff.ad.ps-2 (#{item.CarbonQuantity}C)
                    p.form-label.mb-2.buttonFontSize #{item.recyclingtype} 
                    input.form-control.a.form-control-lg.inputs(type='text' name=`${item.name}` placeholder='Quantity')          
          button#btn.myButton.btn.btn-light.btn-lg.btn-block.w-100.justify-content-between.mt-3.confirmButton(type='submit' name="recycleButton" )| Confirm 
            span.text-secondary.p-1.buttonFontSize  (A maximum of 100 can be recycled per waste)
          button#btn.myButton.btn.btn-light.btn-sm.btn-block.justify-content-between.mt-3.mb-3(type='submit' style="width:15%" name="signOutButton" ) Logout 
          
        
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js' integrity='sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V' crossorigin='anonymous')
